<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" style="display:inline-block">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="left: 40%;
        position: absolute;
        top: 30%;display:inline-block">
      菜谱
    </ion-title>
    <ion-button slot="end" fill="clear" (click)="router.navigate(['/tabs/home'])"style="display:inline-block">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>
    <ion-select class="lang" interface="popover" mode="md" value="chinese">
      <ion-select-option value="chinese">CN</ion-select-option>
      <ion-select-option value="english">EN</ion-select-option>
    </ion-select>
    <ion-select class="lang" interface="popover" mode="md" value="white">
      <ion-select-option value="white">White</ion-select-option>
      <ion-select-option value="blue">Blue</ion-select-option>
      <ion-select-option value="red">RED</ion-select-option>
    </ion-select>

  </ion-toolbar>
</ion-header>
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Tab One</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Tab Two</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Tab Three</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>