.itemstyle{
    display: flex;
    height: 100%;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-size: cover;
    background-position-y: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    opacity: 0.4;
    width: 100%;
}