.itemstyle{
    display: flex;
    height: 100%;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-size: cover;
    background-position-y: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    opacity: 0.5;
}
.itemfont {
    position: absolute;
    top: 40%;
    font-size: 250%;
    width: 100%;
    display: block;
    text-align: center;
}
